body {
    background-color: #153448;
}

h1 {
    color: #DFD0B8;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90vh;
    gap: 1rem;
    color: #DFD0B8;
}

ul {
    list-style-type: none; 
}

.logs ul {
    font-size: 20px;
}

.logs {
    flex-grow: 1;
    background-color: #3C5B6F;
    border-radius: 10px;
    padding-left: 2rem;
}

.indicators {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    font-size: 25px;
    display: inline-block;
    padding-left: 1rem;
}

.countdown {
    background-color: #948979;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.countdown p {
    color: #153448;
}

.feeding-amount {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: #DFD0B8;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

#btn-renew {
    background-color: #153448;
    cursor: pointer;
    font-size: 18px;
    color: #DFD0B8;
}

.arrow-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-up {
    display: inline-block;
    margin-bottom: 1px;
}

.btn-down {
    display: inline-block;
    margin-top: 1px;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}